<div class="container">
  <h1>Donuts</h1>

  <p>
    <%= link_to 'Nuevo Donut', new_product_donut_path(@product), class: 'btn btn-primary' %>
    <%= link_to 'Volver a los productos', products_path, class: 'btn btn-secondary' %>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @donuts.each do |donut| %>
        <tr>
          <td><%= donut.name %></td>
          <td><%= donut.description %></td>
          <td><%= donut.price %></td>
          <td>
            <%= link_to 'Ver', product_donut_path(@product, donut), class: 'btn btn-primary' %>
            <%= link_to 'Editar', edit_product_donut_path(@product, donut), class: 'btn btn-secondary' %>
            <%= link_to 'Eliminar', product_donut_path(@product, donut), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este donut?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>