<div class="container">
  <h1>Editar Bandeja</h1>

  <%= form_with(model: [@product, @tray], url: product_tray_path(@product, @tray), method: :patch) do |form| %>
    <div class="form-group">
      <%= form.label :nombre, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :descripcion, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :precio, class: 'form-label' %>
      <%= form.number_field :price, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :imagen, class: 'form-label' %>
      <%= form.file_field :image, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.submit 'Guardar', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', product_tray_path(@product, @tray), class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
