<div class="container">
  <h1>lista de Bandejas</h1>

  <p>
    <%= link_to 'Nueva Bandeja', new_product_tray_path(@product), class: 'btn btn-primary' %>
    <%= link_to 'Volver a los productos', products_path, class: 'btn btn-secondary' %>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @trays.each do |tray| %>
        <tr>
          <td><%= tray.name %></td>
          <td><%= tray.description %></td>
          <td><%= tray.price %></td>
          <td>
            <%= link_to 'Ver', product_tray_path(@product, tray), class: 'btn btn-primary' %>
            <%= link_to 'Editar', edit_product_tray_path(@product, tray), class: 'btn btn-secondary' %>
            <%= link_to 'Eliminar', product_tray_path(@product, tray), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta bandeja?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>