<div class="container">
  <h1 class="mt-4 mb-3">Detalles de la Bandeja</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @tray.name %></h5>
      <p class="card-text"><strong>Descripción:</strong> <%= @tray.description %></p>
      <p class="card-text"><strong>Precio:</strong> <%= @tray.price %></p>

      <% if @tray.image.attached? %>
        <div class="image-container mb-3">
          <%= image_tag @tray.image, class: "img-fluid" %>
        </div>
      <% end %>

      <%= link_to 'Volver a la lista', product_trays_path(@product), class: 'btn btn-primary' %>
    </div>
  </div>
</div>