<div class="container">
  <h1>Panes</h1>

  <p>
    <%= link_to 'Nuevo Pan', new_product_bread_path(@product), class: 'btn btn-primary' %>
    <%= link_to 'Volver a los produtos', products_path, class: 'btn btn-secondary' %>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @breads.each do |bread| %>
        <tr>
          <td><%= bread.name %></td>
          <td><%= bread.description %></td>
          <td><%= bread.price %></td>
          <td>
            <%= link_to 'Ver', product_bread_path(@product, bread), class: 'btn btn-primary' %>
            <%= link_to 'Editar', edit_product_bread_path(@product, bread), class: 'btn btn-secondary' %>
            <%= link_to 'Eliminar', product_bread_path(@product, bread), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este pan?' }, class: 'btn btn-danger', data: { turbolinks: false } %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
